node_modules
.next
out
build
.env*.local
.env
.DS_Store
*.tsbuildinfo
next-env.d.ts
# 本地文档（不入库）
docs/
# PWA generated
public/sw.js
public/sw.js.map
public/workbox-*.js
public/workbox-*.js.map
public/swe-worker*.js

# Tencent Cloud EdgeOne
.env
.edgeone/*
.tef_dist/*
  